node_modules/
dist/
.vite/
*.log
logs/
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment files
.env
.env.local
.env.*.local

# Ignore temp files only, keep content JSONs
content/*.tmp-*

# Next.js
.next/
out/
next-env.d.ts

/src/generated/prisma
.vercel
